*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

spec/rpmbuild/test_data/RPMS
spec/rpmbuild/test_data/BUILD
spec/rpmbuild/test_data/BUILDROOT
